:root {
  --vp-c-brand-1: #6f4cff;
  --vp-c-brand-2: #551ee3;
  --vp-c-brand-3: #4718bf;
  --vp-c-brand-soft: #e9e8ff;
}

.dark {
  --vp-c-brand-1: #9785ff;
  --vp-c-brand-2: #b9b1ff;
  --vp-c-brand-3: #d6d4ff;
  --vp-c-brand-soft: #3b169c;
}
